/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.box-debug {
    width: 100%;
    min-height: 32px;
    background-color: rgba(255, 255, 255, 0.15);
}

.mb-16 {
    margin-bottom: 16px !important;
}

.px-16 {
    padding: 0 16px !important;
}

/* HEADER */
.container > header {
    width: 100%;
    background: #e579e6;
}

/* HERO */
.container > section {
    width: 100%;
    background-color: #e1d67a;
}

/* MAIN */
.container > .content {
    width: 100%;
    padding-bottom: 16px;
    background-color: dodgerblue;
}

.content > header {
    width: 100%;
}

.content > aside {
    width: 20%;
    float: left;
    height: 100%;
}

.content > main {
    width: 60%;
    float: left;
    height: 100%;
}

/* FOOTER */
.container footer {
    width: 100%;
    background-color: #8801fe;
}
